@model Prontuario

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Prontuário</title>
</head>
<body>
    <form asp-action="Alterar" asp-controller="Prontuario" method="post">
        <fieldset>
            <legend>Alterar Prontuário</legend>

            <div asp-validation-summary="ModelOnly"></div>

            <label asp-for="Id">Id:</label>
            <input asp-for="Id" type="text" placeholder="Id do prontuário" readonly />

            <label asp-for="FuncionarioId">Matrícula:</label>
            <select asp-items="@ViewBag.listaMatriculas" asp-for="FuncionarioId" disabled></select>
            <input hidden asp-for="FuncionarioId" />



            <label asp-for="CaixaId">Custódia:</label>
            <select asp-items="@ViewBag.listaCustodias" asp-for="CaixaId"></select>

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>
</body>
</html>
