@model Prontuario

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>

    <form asp-action="Cadastrar" asp-controller="Prontuario" method="post">
        <fieldset>
            <legend>Cadastro de Prontuários</legend>

            <label asp-for="Funcionario">Matrículas:</label>
            <select asp-items="@ViewBag.listaMatriculas" asp-for="Funcionario">
                <option> -- SELECIONE -- </option>
            </select>

            <label asp-for="Caixa">Custódias:</label>
            <select asp-items="@ViewBag.listaCustodias" asp-for="Caixa">
                <option> -- SELECIONE -- </option>
            </select>

            <input type="submit" value="Cadastrar" />
        </fieldset>
    </form>

</body>
</html>
