@model Prontuario

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar Prontuário</title>
</head>
<body>

    <form asp-action="Cadastrar" asp-controller="Prontuario" method="post">
        <fieldset>
            <legend>Cadastro de Prontuários</legend>

            <div asp-validation-summary="ModelOnly"></div>

            <label asp-for="FuncionarioId">Matrículas:</label>
            <select asp-items="@ViewBag.listaMatriculas" asp-for="FuncionarioId">
                <option> -- SELECIONE -- </option>
            </select>


            <label asp-for="CaixaId">Custódias:</label>
            <select asp-items="@ViewBag.listaCustodias" asp-for="CaixaId">
                <option> -- SELECIONE -- </option>
            </select>


            <input type="submit" value="Cadastrar" />
        </fieldset>
    </form>

</body>
</html>
