@model Caixa
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Caixa</title>
</head>
<body>

    <form asp-action="Alterar" asp-controller="Caixa" method="post">
        <fieldset>
            <legend>Alterar Caixa</legend>

            <div asp-validation-summary="ModelOnly"></div>

            <label asp-for="Id">Id:</label>
            <input asp-for="Id" type="text" placeholder="Id da caixa" readonly />


            <label asp-for="NumeroCaixa">Número da Caixa:</label>
            <input asp-for="NumeroCaixa" type="number" placeholder="Insira o número da caixa" />


            <label asp-for="Custodia">Posição da Custódia:</label>
            <input asp-for="Custodia" type="text" placeholder="Insira a posição da custódia" />

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>

</body>
</html>
